{% trans_default_domain 'show' %}

<div class="col-md-2">
    <h2>{{ 'titles.financialHealth'|trans }}</h2>
    <div class="table-responsive">
            <table class="table table-dark table-borderless table-sm">
                <tbody>
                <tr>
                    <td class="table-dark">{{ 'table.quickRatio'|trans }}</td>
                    <td class="table-success">{{ informationStock.quickRatio }}</td>
                </tr>
                <tr>
                    <td class="table-dark">{{ 'table.currentRatio'|trans }}</td>
                    <td class="table-success">{{ informationStock.currentRatio }}</td>
                </tr>
                <tr>
                    <td class="table-dark">{{ 'table.bookValue'|trans }}</td>
                    <td class="table-success">{{ informationStock.bookSh }}</td>
                </tr>
                <tr>
                    <td class="table-dark">{{ 'table.cashShare'|trans }}</td>
                    <td class="table-success">{{ informationStock.cashSh }}</td>
                </tr>
                <tr>
                    <td class="table-dark">{{ 'table.debtEquity'|trans }}</td>
                    <td class="table-success">{{ informationStock.debtEquity }}</td>
                </tr>
                <tr>
                    <td class="table-dark">{{ 'table.longTermDebt'|trans }}</td>
                    <td class="table-success">{{ informationStock.ltDebtEquity }}</td>
                </tr>
                </tbody>
            </table>
        </div>
</div>